body{
    background-color: black;
}

.jumbotron{
    background-image: url('/img/abandoned_building.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.the_undead{
    font-family:fantasy;
    color:black;
}


.the_history{
    font-size: 30px;
    color:white;
}

/* if all pics are the same properties you can use
this to target all at once*/

.parallax_effect{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    padding-bottom: 20 px;
    width: 1100px;
    height:1000 px;
}

.parallax_wrapper {
    background-color:rgb(75, 89, 94);
    opacity: 60%;
    margin: 0 auto;
    width: 600px;
    height: 660 px;
    border-radius: 25 px;
    padding:20px;
}

#parallax_1 {
    background-image: url('../img/outside_town.jpg');
    color:white;
        
}


#parallax_2{
    background-image: url('../img/downtown.jpg');
   color: white;
}

#parallax_3{
    background-image: url('../img/corcoran_sign.jpg');
    color: white;
}

#footer{
    color:white;
}

.